.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(97, 98, 99);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: rgb(13, 14, 14);
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    margin: 5px;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    font-size: 20px;
    background:transparent;
    color: #fff;
    cursor: pointer;

}

form .display{
display: flex ;
justify-content: flex-end;
margin: 20px 0;

}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.zero{
    width: 135px;
    background-color: rgb(31, 32, 32);
}

form input.operator{
 background-color: rgb(255, 153, 0);

}

form input.operator2{
    background-color: rgb(105, 104, 102);
   color: black;
   }

 form input.numbers{
    background-color: rgb(31, 32, 32);
 }  